@model WebFormacion.Models.Curso

@{
    ViewData["Title"] = "Eliminar Curso";
}

<h2 class="tit text-center mt-md5 mt-2 mb-5">Eliminar Curso</h2>

<h3 class="box-alert box70 mb-3 text-center">¿Estás seguro de querer eliminar este curso?</h3>

<div class="d-flex flex-row justify-content-end mt-5">
    <a asp-action="Index" class="btnVolver d-flex flex-row justify-content-center flex-wrap">
        <img src="~/img/volver_listado.png" alt="Volver al Listado" class="iconoVolver text-center" />
        <span class="align-self-center text-center">Volver al Listado</span>
    </a>
</div>

<div class="mt-3">
    <h3 class="tit mt-3 tableHead p-2"> @Html.DisplayFor(model => model.NombreCurso) </h3>

    <div class="row box-lighter mt-0 p-3">
        <table>
            <tr>
                <th class="negrita pr-5">@Html.DisplayNameFor(model => model.CursoID) </th>
                <td class="pl-5"> @Html.DisplayFor(model => model.CursoID)</td>
            </tr>
            <tr>
                <th class="negrita pr-5">@Html.DisplayNameFor(model => model.NombreCurso) </th>
                <td class="pl-5"> @Html.DisplayFor(model => model.NombreCurso)</td>
            </tr>
            <tr>
                <th class="negrita pr-5"> @Html.DisplayNameFor(model => model.DescripcionCurso) </th>
                <td class="pl-5"> @Html.DisplayFor(model => model.DescripcionCurso)</td>
            </tr>
        </table>
    </div>

    @*<dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CursoID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CursoID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCurso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreCurso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionCurso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescripcionCurso)
        </dd>
    </dl>*@

    <form asp-action="Delete" class=" mb-5">
        <input type="hidden" asp-for="CursoID" />
        <input type="submit" value="Eliminar" class="btn boton" /> @*|
            <a asp-action="Index">Volver al Listado</a>*@
    </form>
</div>
