@model IEnumerable<WebFormacion.Models.Curso>

@{
    ViewData["Title"] = "Lista de Cursos";
}

<h2 class="tit text-center mt-3 mb-3 mt-sm-3 mb-sm-3">Lista de Cursos</h2>

<div class="d-flex flex-row justify-content-end mt-5 mb-3">
    <a asp-action="Create" class="btnVolver d-flex flex-row justify-content-center flex-wrap">
        <div class="icono">+</div>
        <div class="ml-1 text-center"><span class="text-uppercase">Nuevo</span> Curso</div>
    </a>
</div>

<table class="table text-center mb-5">
    <thead class="tableHead p-2">
        <tr>
            <th class="epigrafeTabla">
                @Html.DisplayNameFor(model => model.CursoID)
            </th>
            <th class="epigrafeTabla">
                @Html.DisplayNameFor(model => model.NombreCurso)
            </th>
            <th class="epigrafeTabla">
                @Html.DisplayNameFor(model => model.DescripcionCurso)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody class="box-lighter">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CursoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionCurso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CursoID" class="boton m-1">Modificar</a>
                <a asp-action="Details" asp-route-id="@item.CursoID" class="boton m-1">Ver</a>
                <a asp-action="Delete" asp-route-id="@item.CursoID" class="boton m-1">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
