@model WebFormacion.Models.Contacto

@{
    ViewData["Title"] = "Detalles Contacto";
}

<h2 class="tit text-center">Detalles Contacto</h2>

<div class="d-flex flex-row justify-content-end mt-5">
    <a asp-action="Index" class="btnVolver d-flex flex-row justify-content-center flex-wrap">
        <img src="~/img/volver_listado.png" alt="Volver al Listado" class="iconoVolver text-center" />
        <span class="align-self-center text-center">Volver al Listado</span>
    </a>
</div>

<div class="mt-3">
    <h3 class="tit mt-3 tableHead p-2"> @Html.DisplayFor(model => model.ContactoID) </h3>

    <div class="row box-lighter mt-0 p-3">
        <table>
            <tr>
                <th class="negrita pr-5">@Html.DisplayNameFor(model => model.ContactoID) </th>
                <td class="pl-5"> @Html.DisplayFor(model => model.ContactoID)</td>
            </tr>
            <tr>
                <th class="negrita pr-5">@Html.DisplayNameFor(model => model.Nombre) </th>
                <td class="pl-5"> @Html.DisplayFor(model => model.Nombre)</td>
            </tr>
            <tr>
                <th class="negrita pr-5"> @Html.DisplayNameFor(model => model.Apellido1) </th>
                <td class="pl-5"> @Html.DisplayFor(model => model.Apellido1)</td>
            </tr>
            <tr>
                <th class="negrita pr-5">  @Html.DisplayNameFor(model => model.Apellido2) </th>
                <td class="pl-5"> @Html.DisplayFor(model => model.Apellido2)</td>
            </tr>

            <tr>
                <th class="negrita pr-5">  @Html.DisplayNameFor(model => model.Puesto) </th>
                <td class="pl-5"> @Html.DisplayFor(model => model.Puesto)</td>
            </tr>

        </table>
    </div>
    @*<dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ContactoID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ContactoID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Apellido1)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Apellido1)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Apellido2)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Apellido2)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Puesto)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Puesto)
            </dd>
        </dl>*@
    @*@if (Model.EntidadContactos!= null)
        {*@
    @*<div class=" row mt-5 mb-5">
            <table class="table">
                <thead class="tableHead">
                    <tr>
                        <td colspan="2" class="pt-0 pb-0">
                            <h4 class="negrita">  Entidad </h4>
                        </td>
                    </tr>
                </thead>
                <tr class="box ">
                    <th class="epigrafeTabla tdNarrow">Entidad ID</th>
                    <th class="epigrafeTabla tdNarrow">Razón Social</th>
                </tr>
                <tbody class="box-lighter">
                    @foreach (var item in Model.EntidadContactos)
                    {
                        <tr>
                            <td class="tdNarrow">
                                @Html.DisplayFor(modelItem => item.EntidadID)
                            </td>
                            <td class="tdNarrow">
                                @Html.DisplayFor(modelItem => item.Entidad.RazonSocial)
                            </td>
                        </tr>
                    }
                </tbody>

            </table>

        </div>*@

</div>
<div class="mb-5">
    <a asp-action="Edit" asp-route-id="@Model.ContactoID" class="btn boton">Modificar</a>
</div>
